<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/30a6376ecc.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <span>
          <%= link_to "Bookers(要画像へ変更)", root_path %>
        </span>

        <li>
          <%= link_to user_path(current_user.id) do %>
            <i class="fas fa-home"></i>
            Home
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
            <i class="fas fa-users"></i>
            Users
          <% end %>
        </li>
        <li>
          <%= link_to books_path do %>
            <i class="fas fa-book-open"></i>
            Books
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>
            logout
          <% end %>
        </li>
      <% else %>

        <span>
          <%= link_to "Bookers(要画像へ変更)", root_path %>
        </span>

        <li>
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
            Home
          <% end %>
        </li>
        <li>
          <%= link_to about_path do %>
            <i class="fas fa-link"></i>
            About
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus"></i>
            sign up
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt"></i>
            login
          <% end %>
        </li>
      <% end %>
    </header>
    <%= render 'layouts/notifications' %>
    <%= yield %>
  </body>

  <footer>
    <p>CopyRight Infratop.inc</p>
  </footer>
</html>
